<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo App</title>
</head>
<body>
    <main>
        <fieldset>
            <legend>Quoting Dojo</legend>
            <% if(messages.quote) { %>
                <% for (var message of messages.quote) { %>
                <h3><%= message %></h3>
                <% } %>
            <% } %>
        
            <form action="/quotes" method="post">
                Name: <input type="text" name="name"><br>
                Quote:  <textarea name="quote" rows="10" cols="50"></textarea><br>
                <input type="submit" value="Add Quote">
            </form>
            <a href="/quotes">Skip To Quotes</a>
        </fieldset>
    </main>
    
</body>
</html>