<section>
  <form (submit)='onSubmit(quoteForm)' #quoteForm='ngForm'>
    <h1>Add a Quote</h1>

    <textarea rows="4" cols="50" name="body" required minlength="4" [(ngModel)]='addQuote.body' #quote='ngModel'></textarea>
    <label>Author</label>
    <input type="text" name="author" required minlength="1" [(ngModel)]='addQuote.author' #author='ngModel'>
    <button type="submit" [disabled]="!quoteForm.valid">Add Quote</button>
  </form>
  <div *ngIf="!body.valid">Quote cannot be blank</div>
  <div *ngIf="!author.valid">Please enter an author</div>
</section>
