<section>
  <fieldset>
    <legend>Power Component</legend>
    <div>
      Initial Power Level:
      <input type="number" min="0" max="0" [(ngModel)]="power">
      <button>Calculate Powers</button>
    </div>
    <div>
      <app-human [power]="power"></app-human>
      <app-saiyon [power]="power"></app-saiyon>
      <app-supersaiyon [power]="power"></app-supersaiyon>
      <app-supersaiyontwo [power]="power"></app-supersaiyontwo>
      <app-supersaiyonthree [power]="power"></app-supersaiyonthree>
      <app-supersaiyonfour [power]="power"></app-supersaiyonfour>
    </div>
  </fieldset>
</section>
