<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="box a"><img src="/images/cat1.jpeg" alt="Cat Photo"></div>
        <div class="box b"><img src="/images/cat2.jpeg" alt="Cat Photo"></div>
        <div class="box c"><img src="/images/cat4.jpeg" alt="Cat Photo"></div>
    </div>
</body>
</html>