<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Cats</title>
</head>
<body>
    <a href="/annabelle">
        <img src="/images/cat1.jpeg" alt="cat1">
    </a>
    <a href="/blaze">
        <img src="/images/cat2.jpeg" alt="cat2">
    </a>
    <a href="/cinnamon">
        <img src="/images/cat4.jpeg" alt="cat4">
    </a>    
</body>
</html>