<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Register</title>
</head>
<body>
    <main>
        <fieldset>
            <legend>Login and Register</legend>
                <% if(messages.login) { %>
                    <% for (let message of messages.login) { %>
                    <h2><%= message %></h2>
                    <% } %>
                <% } %>
        </fieldset>
        <fieldset>
            <legend>Login</legend>
            <form method='post' action='/login'>
                <label for="email">Email: </label>
                <input type="text" name="email">
                <label for="password">Password: </label>
                <input type="password" name="password">
                <input type="submit" value="Log In">
            </form>
        </fieldset>
            <% if(messages.newUser) { %>
                <% for (let message of messages.newUser) { %>
                <h3><%= message %></h3>
                <% } %>
            <% } %>
        <fieldset>
            <legend>Register</legend>
            <form method='post' action='/users/new'>
                <label for="email">Email: </label>
                <input type="text" name="email">
                <label for="password">Password: </label>
                <input type="password" name="password">
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name">
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name">
                <label for="birthday">Birthday: </label>
                <input type="date" name="birthday">
                <input type="submit" value="Register">
            </form>
        </fieldset>
    </main>
    
</body>
</html>